#define ID_JAKAL 1000
#define ID_SAVAGEED_MANUAL 4000
#define ID_FINDDLG 2000
#define IDC_FINDTEXT 2001
#define IDC_REPLACETEXT 2002
#define IDC_BTN_REPLACE 2007
#define IDC_BTN_REPLACEALL 2008
#define IDC_BTN_REPLACESEL 2011
#define IDC_RBN_UP 2006
#define IDC_RBN_DOWN 2005
#define IDC_CHK_MATCHCASE 2003
#define IDC_CHK_WHOLEWORD 2004
#define IDC_CHK_PATTERN 2009
#define IDC_CHK_SPECIAL 2010
#define ID_ABOUT 6000
#define ID_ABOUTGRP 1001
#define IDC_MAILME 6001
#define ID_INPUT 3000
#define IDC_EDT_INPUT 3001

ID_JAKAL ICON DISCARDABLE "jakal.ico"
ID_SAVAGEED_MANUAL RCDATA DISCARDABLE "SavageEd.md"

ID_FINDDLG DIALOGEX -2,-16,202,115
CAPTION "Find/Replace ... press Esc to exit"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80800
EXSTYLE 0x00000080
BEGIN
  CONTROL "Replace",0,"Button",0x50000007,3,33,146,26
  CONTROL "Find",0,"Button",0x50000007,3,3,146,26
  CONTROL "Options",-1,"Button",0x50000007,3,63,130,51
  CONTROL "",IDC_FINDTEXT,"Edit",0x50010000,6,12,138,13,0x00000200
  CONTROL "",IDC_REPLACETEXT,"Edit",0x50010000,6,42,138,13,0x00000200
  CONTROL "Find",1,"Button",0x50010000,153,3,46,17
  CONTROL "Replace",IDC_BTN_REPLACE,"Button",0x50010000,153,24,46,17
  CONTROL "Replace All",IDC_BTN_REPLACEALL,"Button",0x50010000,153,48,46,17
  CONTROL "Replace Sel",IDC_BTN_REPLACESEL,"Button",0x50010000,153,69,46,17
  CONTROL "Cancel",2,"Button",0x50010000,153,90,46,17
  CONTROL "Up",IDC_RBN_UP,"Button",0x50010009,87,72,36,9
  CONTROL "Down",IDC_RBN_DOWN,"Button",0x50010009,87,84,40,9
  CONTROL "Match Case",IDC_CHK_MATCHCASE,"Button",0x50010003,12,72,60,9
  CONTROL "Whole Word",IDC_CHK_WHOLEWORD,"Button",0x50010003,12,81,60,9
  CONTROL "Match Pattern",IDC_CHK_PATTERN,"Button",0x50010003,12,93,60,9
  CONTROL "Special Codes",IDC_CHK_SPECIAL,"Button",0x50010003,12,102,60,9
END

ID_ABOUT DIALOGEX 6,6,163,70
CAPTION "About SavageEd"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF1000
EXSTYLE 0x00000080
BEGIN
  CONTROL "SavageEd",ID_ABOUTGRP,"Button",0x50000007,3,3,153,65
  CONTROL "OK",1,"Button",0x50010000,60,51,46,13
  CONTROL "Created By Sevag Krikorian",0,"Static",0x50000000,33,18,102,9
  CONTROL "sevag.krikorian@gmail.com",IDC_MAILME,"Button",0x50008000,30,33,102,15
END

ID_INPUT DIALOGEX 6,5,220,24
CAPTION "Input"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C00104
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDT_INPUT,"Edit",0x50010000,6,3,212,15,0x00000200
END

