#define ID_JAKAL 1000
#define IDR_MENU 10000
#define IDM_NEW 10001
#define IDM_OPEN 10002
#define IDM_INST 10023
#define IDM_SAVE 10003
#define IDM_SAVEAS 10004
#define IDM_RECENT 10029
#define IDM_PAGESETUP 10024
#define IDM_PRINT 10025
#define IDM_QUIT 10006
#define IDM_UNDO 10011
#define IDM_REDO 10012
#define IDM_CUT 10007
#define IDM_COPY 10008
#define IDM_PASTE 10005
#define IDM_SELECTALL 10009
#define IDM_FIND 10013
#define IDM_FINDNEXT 10014
#define IDM_FINDPREV 10026
#define IDM_EDIT_GOTO 10020
#define IDM_TIME 10021
#define IDM_FONT 10010
#define IDM_BACKGROUND 10015
#define IDM_AUTO 10017
#define IDM_WRAP 10018
#define IDM_PEG 10022
#define IDM_READONLY 10028
#define IDM_SETTAB 10036
#define IDM_RECENTNEW 10032
#define IDM_CLEAREXIT 10030
#define IDM_OPENRECENT 10033
#define IDM_OPTIONS_ENCRYPTAES 10034
#define IDM_OPTIONS_DECRYPTAES 10035
#define IDM_VIEW_STATUS 10019
#define IDM_ABOUT 10016
#define IDM_DOCUMENTS 10031
#define ID_ACCEL 5000
#define IDM_REPLACE 11000
#define ID_FINDDLG 2000
#define IDC_FINDTEXT 2001
#define IDC_REPLACETEXT 2002
#define IDC_BTN_REPLACE 2007
#define IDC_BTN_REPLACEALL 2008
#define IDC_CHK_MATCHCASE 2003
#define IDC_CHK_WHOLEWORD 2004
#define IDC_RBN_UP 2006
#define IDC_RBN_DOWN 2005
#define IDC_CHK_PATTERN 2009
#define ID_ABOUT 6000
#define ID_ABOUTGRP 1001
#define IDR_VERSION 1
#define ID_INPUT 3000
#define IDC_EDT_INPUT 3001
ID_JAKAL ICON DISCARDABLE "jakal.ico"
IDR_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",IDM_NEW
    MENUITEM "&Open...\tCtrl+O",IDM_OPEN
    MENUITEM "New &Window\tShift+Ctrl+N",IDM_INST
    MENUITEM "",,0x00000800
    MENUITEM "&Save\tCtrl+S",IDM_SAVE
    MENUITEM "Save &As...\tShift+Ctrl+S",IDM_SAVEAS
    MENUITEM "",,0x00000800
    MENUITEM "Recent",IDM_RECENT
    MENUITEM "",,0x00000800
    MENUITEM "Page Setup...",IDM_PAGESETUP
    MENUITEM "Print...\tCtrl+P",IDM_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "&Quit\tAlt+F4",IDM_QUIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_REDO
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_CUT
    MENUITEM "C&opy\tCtrl+C",IDM_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_PASTE
    MENUITEM "Select &All\tCtrl+A",IDM_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "&Find / Replace...\tCtrl+F",IDM_FIND
    MENUITEM "Find &Next\tF3",IDM_FINDNEXT
    MENUITEM "Find &Prev\tCtrl+F3",IDM_FINDPREV
    MENUITEM "Goto Line...\tCtrl+G",IDM_EDIT_GOTO
    MENUITEM "",,0x00000800
    MENUITEM "&Insert Date/Time\tF5",IDM_TIME
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&Font...",IDM_FONT
    MENUITEM "&Background Color",IDM_BACKGROUND
    MENUITEM "",,0x00000800
    MENUITEM "&AutoSave\tF2",IDM_AUTO
    MENUITEM "&Word Wrap\tF4",IDM_WRAP
    MENUITEM "&Stay on Top\tCtrl+T",IDM_PEG
    MENUITEM "&Read Only\tF6",IDM_READONLY
    MENUITEM "Set &Tabs...",IDM_SETTAB
    POPUP "Re&cent Files"
    BEGIN
      MENUITEM "Open In New &Window",IDM_RECENTNEW
      MENUITEM "&Clear On Exit",IDM_CLEAREXIT
      MENUITEM "&Open Most Recent",IDM_OPENRECENT
    END
    MENUITEM "",10027,0x00000800
    MENUITEM "Encrypt...",IDM_OPTIONS_ENCRYPTAES
    MENUITEM "Decyrpt...",IDM_OPTIONS_DECRYPTAES
  END
  POPUP "&View"
  BEGIN
    MENUITEM "Status Bar",IDM_VIEW_STATUS
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About...",IDM_ABOUT
    MENUITEM "Documents",IDM_DOCUMENTS
  END
END
ID_ACCEL ACCELERATORS
BEGIN
  78,IDM_NEW,VIRTKEY,CONTROL,NOINVERT
  79,IDM_OPEN,VIRTKEY,CONTROL,NOINVERT
  83,IDM_SAVE,VIRTKEY,CONTROL,NOINVERT
  88,IDM_CUT,VIRTKEY,CONTROL,NOINVERT
  67,IDM_COPY,VIRTKEY,CONTROL,NOINVERT
  86,IDM_PASTE,VIRTKEY,CONTROL,NOINVERT
  65,IDM_SELECTALL,VIRTKEY,CONTROL,NOINVERT
  90,IDM_UNDO,VIRTKEY,CONTROL,NOINVERT
  70,IDM_FIND,VIRTKEY,CONTROL,NOINVERT
  114,IDM_FINDNEXT,VIRTKEY,NOINVERT
  83,IDM_SAVEAS,VIRTKEY,CONTROL,SHIFT,NOINVERT
  27,IDM_QUIT,VIRTKEY,NOINVERT
  116,IDM_TIME,VIRTKEY,NOINVERT
  89,IDM_REDO,VIRTKEY,CONTROL,NOINVERT
  84,IDM_PEG,VIRTKEY,CONTROL,NOINVERT
  113,IDM_AUTO,VIRTKEY,NOINVERT
  78,IDM_INST,VIRTKEY,CONTROL,SHIFT,NOINVERT
  80,IDM_PRINT,VIRTKEY,CONTROL,NOINVERT
  114,IDM_FINDPREV,VIRTKEY,CONTROL,NOINVERT
  117,IDM_READONLY,VIRTKEY,NOINVERT
  115,IDM_WRAP,VIRTKEY,NOINVERT
  82,IDM_REPLACE,VIRTKEY,CONTROL,NOINVERT
  71,IDM_EDIT_GOTO,VIRTKEY,CONTROL,NOINVERT
END
ID_FINDDLG DIALOGEX 6,5,202,112
CAPTION "Find/Replace ... press Esc to exit"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80800
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_FINDTEXT,"Edit",0x50010000,6,12,138,13,0x00000200
  CONTROL "",IDC_REPLACETEXT,"Edit",0x50010000,6,42,138,13,0x00000200
  CONTROL "Find",1,"Button",0x50010000,152,3,46,17
  CONTROL "Replace",IDC_BTN_REPLACE,"Button",0x50010000,152,29,46,17
  CONTROL "Replace All",IDC_BTN_REPLACEALL,"Button",0x50010000,152,49,46,17
  CONTROL "Match Case",IDC_CHK_MATCHCASE,"Button",0x50010003,12,72,60,9
  CONTROL "Whole Word",IDC_CHK_WHOLEWORD,"Button",0x50010003,12,83,60,9
  CONTROL "Up",IDC_RBN_UP,"Button",0x50010009,86,72,36,9
  CONTROL "Down",IDC_RBN_DOWN,"Button",0x50010009,86,83,40,9
  CONTROL "Cancel",2,"Button",0x50010000,152,79,46,17
  CONTROL "Options",-1,"Button",0x50000007,4,62,130,44
  CONTROL "Find",0,"Button",0x50000007,2,3,146,26
  CONTROL "Replace",0,"Button",0x50000007,2,33,146,26
  CONTROL "Match Pattern",IDC_CHK_PATTERN,"Button",0x50010003,12,94,60,9
END
ID_ABOUT DIALOGEX 6,6,171,91
CAPTION "About SavageEd"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF1000
EXSTYLE 0x00000080
BEGIN
  CONTROL "SavageEd",ID_ABOUTGRP,"Button",0x50000007,0,3,170,65
  CONTROL "OK",1,"Button",0x50010000,62,73,46,13
  CONTROL "By Sevag Krikorian",0,"Static",0x50000000,16,18,82,9
  CONTROL "sevag.krikorian@gmail.com",0,"Static",0x50000000,16,29,130,9
  CONTROL "http://sevag.krikorian.googlepages.com",0,"Static",0x50000000,16,40,142,9
END
IDR_VERSION VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "CompanyName", "Sevag Krikorian\0"
      VALUE "InternalName", "SavageEd\0"
      VALUE "OriginalFilename", "SavageEd\0"
      VALUE "ProductName", "SavageEd\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END
ID_INPUT DIALOGEX 6,5,220,24
CAPTION "Input"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CA0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDT_INPUT,"Edit",0x50011000,4,3,212,15,0x00000200
END
